.logo{
	margin-top: 50px;
	display: flex;
	flex-direction: row;
}
.logo h4{
	margin-top: -2px;
	padding-left: 50px;
}
.nav-links a{
	text-decoration: none;
	color: #F5EDDC;
	padding-left: 15px;
}
.nav-links{
	padding-left: 900px;
}
.message img{
	width: 1580px;
	height: 500px;
}
.message{
	position: relative;
	text-align: center;
	color: white;
}
.center{
	top: 5px;
	left: 150px;
	position: absolute;
}
.center h1{
	font-size: 6em;
	text-transform: uppercase;
}
.center h5{
	padding-top: -10px;
	font-weight: bolder;
	font-size: 15px;
	padding-bottom: 10px;
}
.center a{
	text-decoration: none;
	border: 2px solid white;
	color: white;
	border-radius: 30px;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
}
.footer{
	display: flex;	
	width: 1580px;
}
.footer div{
	display: inline-block;
}
.sub1{
	padding: 55px;
	background-color: white;
}
.sub2{
	padding: 55px;
	background-color: lightpink;
}
.sub3{
	padding: 55px;
	background-color: black;
	color: white;
}